body {
    background-color: #1e1924;
}

.logo {
    width: 40px;
}

.navbar-brand {
    margin-left: 0px;
}

.nav-link {
    font-size: 20px;
}

.nav-link:hover {
    color: white;
    text-shadow: 1px 1px grey;
}

header {
    align-items: center;
    background-image: url(images/mainMobile.png);
    background-size: cover;
    color: white;
    display: flex;
    font-family: 'Zen Antique Soft', serif;
    font-size: 70px;
    height: 200px;
    justify-content: center;
    text-shadow: 3px 3px #1e1924;
}


main {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.imageGallery {
    background-color: #1e1924;
}

.lavenderImages {
   width: 100%;
}

.row {
    align-items: center;
    display: flex;
}

footer {
    color: white;
    margin-top: 10px;
}

@media (min-width: 600px) {
    .navbar-brand {
        margin-left: 300px;
    }
    
    header {
        background-image: url(images/mainDesktop.png);
        font-size: 150px;
        height: 400px;
    }

    main {
        margin-left: 300px;
        margin-right: 300px;
    }

    .descriptiveText {
        font-size: 50px;
    }
}