body {
    background-color: #1e1924;
}

.logo {
    width: 40px;
}

.navbar-brand {
    margin-left: 0px;
}

header {
    align-items: center;
    background-image: url(images/mainMobile.png);
    background-size: cover;
    color: white;
    display: flex;
    font-family: 'Zen Antique Soft', serif;
    font-size: 70px;
    height: 200px;
    justify-content: center;
    text-shadow: 3px 3px #1e1924;
}


main {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

@media (min-width: 600px) {
    .navbar-brand {
        margin-left: 200px;
    }
    
    header {
        background-image: url(images/mainDesktop.png);
        font-size: 150px;
        height: 400px;
    }

    main {
        margin-left: 200px;
        margin-right: 200px;
    }
}